---
---
@import "dp-global";

.contour {
    height: 100px;
    width: 300px;
    background-size: 800px 450px;

    &.red.light { @include contour(light, red); }
    &.red.dark { @include contour(dark, red); }
    &.yellow.light { @include contour(light, yellow); }
    &.yellow.dark { @include contour(dark, yellow); }
    &.brown.light { @include contour(light, brown); }
    &.brown.dark { @include contour(dark, brown); }
    &.tan.light { @include contour(light, tan); }
    &.tan.dark { @include contour(dark, tan); }
    &.grey.light { @include contour(light, grey); }
    &.grey.dark { @include contour(dark, grey); }
    &.white { @include contour(dark, white); }
}