<!DOCTYPE html>
<html lang="en">
<head>
    <title>Desire Path</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/dp-home.css">
    <link rel="stylesheet" href="https://use.typekit.net/vzn1dau.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    
    <script src="/assets/js/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
<header>
    <h1><a href="/">Desire Path</a></h1>
    <nav id="primaryNav">
        <ul>
            <li id="navTravel"><a href="#"><span>Travel Log</span></a></li>
            <li id="navLocations"><a href="#"><span>Locations</span></a></li>
            <li id="navPhotos"><a href="#"><span>Photos</span></a></li>
            <li id="navVan"><a href="#"><span>The Van</span></a></li>
        </ul>
    </nav>
</header>

<main>
    <article id="blog">
        <div class="blogHeader">
            <h1>Travel Log</h1>
            <h2>Exploring Rocky Mountain National Park with Wrapping Text</h2>
        </div>
        <div class="blogMetadata">
            <p class="date">
                <span class="month">Aug</span>
                <span class="day">27</span>
                <span class="year">2018</span>
            </p>
        </div>
        <div class="blogBody">
            <!-- <div class="contour grey dark">
            </div>
            <div class="contour grey light">
            </div>
            <div class="contour red dark">
            </div>
            <div class="contour red light">
            </div>
            <div class="contour yellow dark">
            </div>
            <div class="contour yellow light">
            </div>
            <div class="contour tan dark">
            </div>
            <div class="contour tan light">
            </div>
            <div class="contour brown dark">
            </div>
            <div class="contour brown light">
            </div>
            <div class="contour grey dark">
            </div>
            <div class="contour grey light">
            </div>
            <div class="contour white">
            </div> -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </article>
</main>

<aside>
    <section id="readingList">
        <h3>Reading List</h3>
        <ul>
            <li>
                <span class="bookTitle">One Hundred Years of Solitide</span>
                <span class="bookAuthor">Gabriel Garcia Marquez</span>
            </li>
            <li>
                <span class="bookTitle">One Hundred Years of Solitide</span>
                <span class="bookAuthor">Gabriel Garcia Marquez</span>
            </li>
            <li>
                <span class="bookTitle">One Hundred Years of Solitide</span>
                <span class="bookAuthor">Gabriel Garcia Marquez</span>
            </li>
    </section>
</aside>
<footer>
    <section id="recentPosts">
        Something in the footer
    </section>
</footer>
</body>
</html>